@model IEnumerable<Models.RejectedApplicantsListBO>


<table class="table" id="RejectedApplicantsGrid">
    <thead>
        <tr class="TableHeader" style="background-color:darkgrey">
            <th style="text-align:center">
                #
            </th>
            <th style="text-align:center">
                Applicant Name
            </th>
            <th style="text-align:center">
                Qualification
            </th>
            <th style="text-align:center">
                Mobile number
            </th>
            <th style="text-align:center">
                Email address
            </th>
            <th style="text-align:center">
                Mother tongue
            </th>
            <th style="text-align:center">
                DOB
            </th>
            <th style="text-align:center">
                Gender
            </th>
            <th style="text-align:center">
                Programme
            </th>
            <th style="text-align:center">
                Name of professional body
            </th>
            <th style="text-align:center">
                Membership Number
            </th>
            <th style="text-align:center">
                Validity of Membership
            </th>
            <th style="text-align:center">
                Subject
            </th>
            <th style="text-align:center">
                Status
            </th>
            @*<th style="text-align:center">
                Applicant Name
            </th>
            <th style="text-align:center">
                Mobile Number
            </th>
            <th style="text-align:center">
                Email Address
            </th>
            <th style="text-align:center">
                Address
            </th>
            <th style="text-align:center">
                Location
            </th>
            <th style="text-align:center">
                Status
            </th>
            <th style="text-align:center">
                Donor Program
            </th>
            <th>
                Required staff level
            </th>
            <th>
                Current Staff Level
            </th>
            <th>
                Gaps
            </th>
            <th>
                Comments
            </th>*@
        </tr>
    </thead>
    <tbody style="background-color: white" id="tbodyRejected">
        @{
            var count = 1;
        }
        @foreach (var item in Model)
        {
            <tr style="text-align:center">
                <td style='width:20px;vertical-align:middle;'>
                    <span class='label label-info'>
                        @(count++)
                    </span>
                </td>
                <td style="text-align:center">@item.FullName</td>
                <td style="text-align:center">@item.AcademicQualification</td>
                <td style="text-align:center">@item.MobileNumber</td>
                <td style="text-align:center">@item.EmailAddress</td>
                <td style="text-align:center">@item.MotherTongue</td>
                <td style="text-align:center">@item.DateOfBirth</td>
                <td style="text-align:center">@item.Gender</td>
                <td style="text-align:center">@item.DonorProgram</td>
                <td style="text-align:center">@item.ProfessionalBodyName</td>
                <td style="text-align:center">@item.MembershipNumber</td>
                <td style="text-align:center">@item.Validity</td>
                <td style="text-align:center">@item.Subject</td>
                <td style="text-align:center">@item.Status</td>

                @*<td style="text-align:center">@item.FullName</td>
                <td style="text-align:center">@item.MobileNumber</td>
                <td style="text-align:center">@item.EmailAddress</td>
                <td style="text-align:center">@item.Address</td>
                <td style="text-align:center">@item.JobLocation</td>
                <td style="text-align:center">@item.Status</td>
                <td style="text-align:center">@item.DonorProgram</td>
                <td style="text-align:center">@item.RequiredStaffLevel</td>
                <td style="text-align:center">@item.CurrentStaffLevel</td>
                <td style="text-align:center">@item.Gaps</td>
                <td style="text-align:center">@item.HOD_Comments</td>*@
            </tr>
        }
    </tbody>

</table>



