@model IEnumerable<Models.PostJobBO>

     
<table class="table" id="AllJobsGrid" align="center">
    <thead>
        <tr class="TableHeader"  style="background-color:darkgrey" >
            <th style="text-align:center">
                #
            </th>
            <th  style="text-align:center">
                Job Name
            </th>
            <th style="text-align:center">
                Job Description
            </th>
            <th style="text-align:center">
                Job Location
            </th>
            <th style="text-align:center">
                No Of Positions
            </th>
            <th style="text-align:center">
                Status
            </th>                           
            <th style="text-align:center">
                Action
            </th>
        </tr>
    </thead>

    <tbody style="background-color: white" id="JobPosting">
        @{
            var count = 1;
        }
        @foreach (var item in Model)
        {
            <tr  style="text-align:center"  id='@item.JobPostingId'>
                <td style='width:100px;vertical-align:middle;'>
                    <span class='label label-warning'>
                        @(count++)
                    </span>
                </td>
                <td style="text-align:center" cursor:pointer onclick="EditJobPosting(@item.JobPostingId);">@item.JobName</td>
                <td style="text-align:center">@item.JobDescription</td>
                <td style="text-align:center">@item.JobLocation</td>
                <td style="text-align:center">@item.NoOfPositions</td>
                <td style="text-align:center">@item.Status</td>       
                <td style='width:110px; text-align:center' class='menu-action'>
                    <a href='#custom-modal' data-animation='corner' data-toggle="modal" data-target="#myModal"><i class="mdi mdi-eye" onclick='ViewJob(@item.JobPostingId);'>&nbsp;&nbsp;&nbsp;&nbsp; </i> </a>                               
                    <a href='#custom-modal' data-animation='corner' data-plugin='custommodal'><i class="mdi mdi-pencil" onclick='EditJobPosting(@item.JobPostingId);'> &nbsp;&nbsp;&nbsp;&nbsp; </i> </a>                   
                    <a href='#custom-modal' data-animation='corner' data-plugin='custommodal'><i class="mdi mdi-delete" onclick='DeleteJobPosting(@item.JobPostingId);'></i> </a>
                </td>
            </tr>
        }
    </tbody>

</table>
