@model Models.BranchMasterBO

<div class="vd_content-section clearfix">
    <div class="custom-modal-text">
        <div class="row">
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> BranchName :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.BranchName)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Organization Name :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.OrganizationId)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Description :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Details)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Address :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Cell Number :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.CellNumber)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Land Number :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.LandNumber)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Email Id :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.EmailId)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Website :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Website)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Is MainBranch :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.IsMainBranch)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Is Active :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.IsActive)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



