@model Models.UserRegistrationBO

<div class="vd_content-section clearfix">
    <div class="custom-modal-text">
        <div class="row">
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> First Name :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.FirstName)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> Middle Name :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.MiddleName)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> Last Name :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.LastName)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> Gender :</b></label>
                    <div class="col-xs-6 controls">
                        @Html.DisplayFor(model => model.Gender)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> Mobile Number :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.MobileNumber)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> Alternate Number :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.AlternateMobileNumber)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> Email Address :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.EmailAddress)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> Language :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Language)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> Qualification :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Qualification)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> Country :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Country)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> City :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.City)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> User Role :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.UserRole)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> Department :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Department)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b> Address :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


