@model Models.AllJobsBO

<div class="vd_content-section clearfix">

    <div class="custom-modal-text">
        <div class="row">
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>Job Name :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.JobName)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>Job Code :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.JobCode)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>Job Description :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.JobDescription)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>No Of Positions :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.NoOfPositions)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>DonorProgram :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.DonorProgramName)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>Job Location :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.JobLocation)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>Job Timings :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.JobTimings)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>Job Duration :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.JobDuration)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>Qualification :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Qualification)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>Experience :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Experience)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>Skills :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Skills)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>Status :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.Status)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>Job Duration :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.JobDuration)
                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"><b>HR Comments :</b></label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.HROffice_Comments)
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
