@model Models.ApprovedJobsBO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper">
    <div class="container-fluid">
        <!-- Page title box -->
        <div class="page-title-alt-bg"></div>
        <div class="page-title-box">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Jobs</a></li>
                <li class="breadcrumb-item active">Job Marketing</li>
            </ol>
            <h4 class="page-title"><i class="mdi mdi-account-multiple" style="color:black;"></i><b>Job Marketing</b></h4>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group row">
            <div class="form-group row col-sm-12">
                <div style="width:99%;" align="right">

                    <button type="button" class="btn btn-success btn-rounded w-md" onclick="onMarketing();">Marketing</button>
                    <button type="button" class="btn btn-secondary btn-rounded w-md" onclick="Cancel();">Cancel</button>
                </div>
            </div>
        </div>

        <div class="card-box">
            @Html.HiddenFor(m => m.JobPostingId)
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Job Name <span class="text-danger">*</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.JobName, new { @placeholder = "Job Name", @class = "form-control", id = "JobName", @maxLength = "50", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Job Code<span class="text-danger">*</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.JobCode, new { @placeholder = "Job Code", @class = "form-control", id = "JobCode", @maxLength = "50", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Job Description</label>
                            <div class="col-sm-7">
                                @Html.TextAreaFor(model => model.JobDescription, new { @placeholder = "Job Description", @class = "form-control", id = "JobDescription", @maxLength = "1500", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Job Description File :</label>
                            <div class="col-sm-7">
                                @if (Model != null)
                                {
                                    if (Model.JobDescriptionFileSavedName != null && Model.JobDescriptionFileSavedName != "" && Model.JobDescriptionFile != null && Model.JobDescriptionFile != "")
                                    {
                                        @Html.ActionLink(Model.JobDescriptionFile, "DownloadAttachment", new { fileSavedName = Model.JobDescriptionFileSavedName, fileActualName = Model.JobDescriptionFile })
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">No Of Positions<span class="text-danger">*</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.NoOfPositions, new { @placeholder = "No Of Positions Required", @class = "form-control", id = "NoOfPositions", @maxLength = "50", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Job Location</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.JobLocation, new { @placeholder = "JobLocation", @class = "form-control", id = "JobLocation", @maxLength = "100", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Job Timings</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.JobTimings, new { @placeholder = "Job Timings", @class = "form-control", id = "JobTimings", @maxLength = "200", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Job Duration</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.JobDuration, new { @placeholder = "Job Duration", @class = "form-control", id = "JobDuration", @maxLength = "100", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Donor Program</label>
                            <div class="col-sm-7">
                                @Html.DropDownListFor(model => model.DonorProgramId, new SelectList(Model.DonorProgramList, "Id", "Value"), " Select Donor Program", new { @class = "form-control", id = "DonorProgramm", @readonly = "readonly", @maxLength = "7", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Qualification<span class="text-danger">*</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Qualification, new { @placeholder = "Qualification", @class = "form-control", id = "Qualification", @maxLength = "100", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-xs-0">
                            <label class="col-sm-5">Experience<span class="text-danger">*</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Experience, new { @placeholder = "Experience", @class = "form-control", id = "Experience", @maxLength = "50", @readonly = "readonly" })

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Skills<span class="text-danger">*</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Skills, new { @placeholder = "Skills", @class = "form-control", id = "Skills", @maxLength = "250", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Required staff level <span class="text-danger">*</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.RequiredStaffLevel, new { @placeholder = "RequiredStaffLevel", @class = "form-control", id = "RequiredStaffLevel", @maxLength = "7", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Current staff level<span class="text-danger">*</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.CurrentStaffLevel, new { @placeholder = "CurrentStaffLevel", @class = "form-control", id = "CurrentStaffLevel", @maxLength = "7", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Gaps<span class="text-danger">*</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Gaps, new { @placeholder = "Comments", @class = "form-control", id = "Gaps", @maxLength = "7", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row mgbt-sm-0">
                            <label class="col-sm-5">Marketing Comments<span class="text-danger">*</span></label>
                            <div class="col-sm-7">
                                @Html.TextAreaFor(model => model.MarketingComments, new { @placeholder = "Comments", @class = "form-control", id = "MarketingComments", @maxLength = "500" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-box">
            <div class="row">
                @Html.HiddenFor(m => m.JobPostingId)
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">HOD Comments</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.HOD_Comments, new { @placeholder = "HOD Comments", @class = "form-control", id = "HOD_Comments", @maxLength = "500", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">HOD Date</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.HOD_Date, new { @placeholder = "HOD Date", @class = "form-control", id = "HODDate", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">HROffice Comments</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.HROffice_Comments, new { @placeholder = "HROffice Comments", @class = "form-control", id = "HROffice_Comments", @maxLength = "500", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">HROffice Date</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.HROffice_Date, new { @placeholder = "HROffice Date", @class = "form-control", id = "HROfficeDate", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">HOP Comments</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.HOP_Comments, new { @placeholder = "HOP Comments", @class = "form-control", id = "HOP_Comments", @maxLength = "500", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">HOP Date</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.HOP_Date, new { @placeholder = "HOP Date", @class = "form-control", id = "HOP_Date", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">PM Comments</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.PM_Comments, new { @placeholder = "PM Comments", @class = "form-control", id = "PM_Comments", @maxLength = "500", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">PM Date</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.PM_Date, new { @placeholder = "PM Date", @class = "form-control", id = "PM_Date",  @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">HAF Comments</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.HAF_Comments, new { @placeholder = "HAF Comments", @class = "form-control", id = "HAF_Comments", @maxLength = "500", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">HAF Date</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.HAF_Date, new { @placeholder = "HAF Date", @class = "form-control", id = "HAF_Date",  @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">ED Comments</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Admin_Comments, new { @placeholder = "ED Comments", @class = "form-control", id = "Qualification", @maxLength = "500", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-xs-0">
                        <label class="col-sm-5">ED Date</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.Admin_Date, new { @placeholder = "ED Date", @class = "form-control", id = "Experience",  @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">Marketing Comments</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.MarketingComments, new { @placeholder = "Marketing Comments", @class = "form-control", id = "Skills", @maxLength = "500", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mgbt-sm-0">
                        <label class="col-sm-5">Marketed Date</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.MarketedDate, new { @placeholder = "Marketed Date", @class = "form-control", id = "Comments", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end card-box -->
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {

    });

    // Save JobMarketing

    function onMarketing() {
        var str = "";
        if ($("#MarketingComments").val() == "") {
            str = str + "<i class='fa fa-bookmark vd_red'></i> &nbsp;MarketingComments is Required. <br/>";
        }
        if (str != "") {
            $.NotificationApp.send("Information!", "Check below fields please." + str, 'top-right', '#da8609', 'warning');
        }
        else {
            var JobPostingId = $("#JobPostingId").val();
            var JobName = $("#JobName").val();
            var JobCode = $("#JobCode").val();
            var JobDescription = $("#JobDescription").val();
            var NoOfPositions = $("#NoOfPositions").val();
            var JobLocation = $("#JobLocation").val();
            var JobTimings = $("#JobTimings").val();
            var JobDuration = $("#JobDuration").val();
            var Qualification = $("#Qualification").val();
            var Experience = $("#Experience").val();
            var Skills = $("#Skills").val();
            var MarketingComments = $("#MarketingComments").val();
            var IsActive = $("#IsActive").is(':checked');
            var DonorProgramName = $("#DonorProgramm").val();

            var Data = {
                "JobPostingId": JobPostingId,
                "JobName": JobName,
                "JobCode": JobCode,
                "JobDescription": JobDescription,
                "NoOfPositions": NoOfPositions,
                "JobLocation": JobLocation,
                "JobTimings": JobTimings,
                "JobDuration": JobDuration,
                "Qualification": Qualification,
                "Experience": Experience,
                "Skills": Skills,
                "MarketingComments": MarketingComments,
                "IsActive": IsActive,
                "DonorProgramName": DonorProgramName,
            }
            Save(Data);
        }

        function Save(Data) {
            ShowLoader();
            $.ajax({
                url: '../JobMarketing/SaveJobMarketing',
                data: JSON.stringify(Data),
                type: 'POST',
                async: false,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data == "SUCCESS") {
                        $.NotificationApp.send("Success!", "JobMarketing created successfully !!", 'top-right', '#5ba035', 'success');
                        GoMenu();
                        setTimeout(function () {
                            HideLoader()
                        }, 500);
                    }
                    else if (data == "ALREADY_EXISTS") {
                        $.NotificationApp.send("Warning!", "Already Exists.", 'top-right', '#da8609', 'warning');
                        alreadyexists();
                        setTimeout(function () {
                            HideLoader()
                        }, 500);
                    }
                    else if (data == "FAIL") {
                        fail();
                        setTimeout(function () {
                            HideLoader()
                        }, 500);
                    }
                }
            });
        }
    }

    function Cancel() {
        var url = '@Url.Action("Index", "JobMarketing")';
        window.location.href = url;
    }


    function GoMenu() {
        var url = '@Url.Action("Index", "JobMarketing")';
        window.location.href = url;
    }

</script>
