@model IEnumerable<Models.OrganizationMasterBO>

<table class="table" id="OrganizationGrid">
    <thead>
        <tr class="TableHeader" style="text-align:center;">

            <th style="width:50px;vertical-align:middle;padding-left:30px;">
                #
            </th>
            <th style="vertical-align:middle;">
                <b> Organisation Name</b>
            </th>
            <th style="vertical-align:middle;">
                <b>Is Active</b>
            </th>
            <th style="vertical-align:middle;">
                <b> Action</b>
            </th>
    </thead>

    <tbody id="tbodyOrganization" style="text-align:center;">
        @{
            var count = 1;
        }
        @foreach (var item in Model)
            {
            <tr id='@item.OrganisationId'>
                <td>@(count++)</td>
                <td style="cursor:pointer" onclick="Edit(@item.OrganisationId);"> @item.OrganisationName</td>
                <td>@item.IsActive</td>
                <td style="cursor:pointer" onclick="deleteOrganization(@item.OrganisationId,'OrganizationMaster');"><i class="mdi mdi-delete"></i></td>
            </tr>
        }
    </tbody>
</table>







