@model IEnumerable<Models.JobsListBO>


<table class="table" id="JobsGrid" align="center">
    <thead>
        <tr class="TableHeader" style="background-color:darkgrey">
            <th style="text-align:center">
                #
            </th>
            <th style="text-align:center">
                Job Name
            </th>
            <th style="text-align:center">
                Job Description
            </th>
            <th style="text-align:center">
                No Of Positions
            </th>
            <th style="text-align:center">
                Job Location
            </th>
            <th style="text-align:center">
                Status
            </th>
            <th style="text-align:center">
                Comments
            </th>
        </tr>
    </thead>

    <tbody style="background-color: white" id="JobsList">
        @{
            var count = 1;
        }
        @foreach (var item in Model)
        {
            <tr style="text-align:center">
                <td style="text-align:center">
                    <span class='label label-warning'>
                        @(count++)
                    </span>
                </td>
                <td style="text-align:center">@item.JobName</td>
                <td style="text-align:center">@item.JobDescription</td>
                <td style="text-align:center">@item.NoOfPositions</td>
                <td style="text-align:center">@item.JobLocation</td>
                <td style="text-align:center">@item.Status</td>
                <td style="text-align:center">@item.Comments</td>
            </tr>
        }
    </tbody>
</table>

