@model IEnumerable<Models.MenuMasterBO>
                      
  <table class="table" id="MenuGrid">
    <thead>
       <tr class="TableHeader" style="text-align:center;">
            <th style="vertical-align:middle;padding-left:20px">
                   #
            </th>
            <th style="vertical-align:middle;padding-left:20px">
                    Menu Name
            </th>
            <th style="vertical-align:middle;padding-left:20px">
                    Display Order
            </th>
            <th style="vertical-align:middle;padding-left:20px">
                    Menu Key
            </th>
            <th style="vertical-align:middle;padding-left:20px">
                    IsActive
            </th>
            <th style="vertical-align:middle;padding-left:20px">
                    Created On
            </th>
            <th style="vertical-align:middle;padding-left:20px">
                     Action
            </th>
        </tr>
    </thead>
   <tbody style="background-color: white" id="tbodyMenu">
      @{
          var count = 1;
       }
      @foreach (var item in Model)
       {
        <tr style='height:50px;text-align:center' id='@item.MenuId'>
        <td style='width:20px;vertical-align:middle;'>
        <span class='label label-info'>
            @(count++)
        </span>
        </td>
        <td>@item.MenuName</td>
        <td>@item.DisplayOrder</td>
        <td>@item.MenuKey</td>
        <td>@item.IsActive</td>
        <td>@item.CreatedOn</td>
        <td style='width:100px;vertical-align:middle;' class='menu-action'>
            <a href='#custom-modal' data-toggle="modal" data-target="#myModal"><i class="mdi mdi-eye" onclick='ViewMenu(@item.MenuId);'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i> </a>
        <a href='#custom-modal' data-toggle="modal"><i class="mdi mdi-pencil " onclick='Edit(@item.MenuId);'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i> </a>
        <a href='#custom-modal' data-toggle="modal"><i class="mdi mdi-delete" onclick='DeleteMenu(@item.MenuId);'></i> </a>
       </td>
      </tr>
     }
    </tbody>
 </table>
              
              



