@model Models.MenuMasterBO

<div class="vd_content-section clearfix">
    <div class="custom-modal-text">
        <div class="row">
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Menu Name :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.MenuName)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Parent MenuIName :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.ParentMenuId)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Display Order :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.DisplayOrder)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> PageURL :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.PageURL)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Image URL :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.ImageURL)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Menu GroupId :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.MenuGroupId)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> MenuKey :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.MenuKey)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> fa Icon :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.faIcon)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Help URL :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.HelpURL)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Help DocURL :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.HelpDocURL)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Local Video :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.LocalVideo)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6">Local Document:</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.LocalDocument)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-sm-0">
                    <label class="col-sm-6"> Is Active :</label>
                    <div class="col-sm-6 controls">
                        @Html.DisplayFor(model => model.IsActive)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


